## Studenten opdracht

De dataset van het CBS bestaan uit inschrijvingen en diplomauitreikingen van studenten in de periode 2015-2020.
In de originele vraag A ging het over de periode 2008-2015. Omdat deze data niet meer beschikbaar is zal er moeten worden gekozen om de periode 2015-2020 aan te houden.

Opdracht:
- a) Bereken de kans dat een student tot tweemaal toe uitvalt bij een technische studie in de periode 2015-2020
- b) Bereken een belief distribution voor de kans dat een student zowel geslaagde als uitvaller is
- c) Bereken de kans dat een student van Business Studies daarna inschrijft voor een opleiding in het sociale domein, binnen 2 jaar na.

In [1]:
import pyspark
import findspark
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import Row
import pyspark.sql.functions as F
from pyspark.sql.types import IntegerType

In [2]:
# Create findspark instance
findspark.init()

# Create spark session
spark = SparkSession.builder.master("local").appName("Linear Regression Model").config("spark.executor.memory", "1gb").getOrCreate()

In [3]:
# Load spark context entry
sc = spark.sparkContext

## Preprocessing
Tijdens deze stap proberen we data van de instroom te combineren met data van de geslaagden over dezelfde periode.
De bedoeling is dat er twee dataframes worden geladen en worden gecombineerd.
Het resultaat is dat we een dataset krijgen waarbij per provincie, gemeente, opleiding en jaar kunnen zien hoeveel instroom en uitstroom er is.

In [4]:
# Loading both text files
data_intake = sc.textFile("04-inschrijvingen-hbo-2020.csv")
data_outgoing = sc.textFile("05-gediplomeerden-hbo-2020.csv")

In [5]:
# Map the columns split by the delimiter=; into a new dataframe
# This changes the RDD from a text file to a 2D array
header_in = data_intake.first()
header_out = data_outgoing.first()

data_intake = data_intake.filter(lambda line: line != header_in).map(lambda line: line.lstrip(";").split(";"))
data_outgoing = data_outgoing.filter(lambda line: line != header_out).map(lambda line: line.lstrip(";").split(";"))

In [6]:
# For both arrays we are going to build a spark DataFrame, which will allow us to do further processing
df_intake = data_intake.map(lambda row: Row(municipality_nr=row[1],
                                            chrono_compartment=row[7],
                                            ed_code_actual=row[9],
                                            ed_name_actual=row[10],
                                            ed_form=row[11],
                                            gender=row[12],
                                            in_2016=row[13],
                                            in_2017=row[14],
                                            in_2018=row[15],
                                            in_2019=row[16],
                                            in_2020=row[17]
                                            )).toDF()

df_outgoing = data_outgoing.map(lambda row: Row(municipality_nr=row[1],
                                            chrono_compartment=row[6],
                                            ed_code_actual=row[8],
                                            ed_name_actual=row[9],
                                            ed_form=row[10],
                                            gender=row[12],
                                            out_2015=row[13],
                                            out_2016=row[14],
                                            out_2017=row[15],
                                            out_2018=row[16],
                                            out_2019=row[17]
                                            )).toDF()

In [7]:
df = df_intake.join(df_outgoing, ["municipality_nr", "chrono_compartment" ,"ed_code_actual", "ed_name_actual", "ed_form", "gender"], how="inner")

In [8]:
df = df.withColumn("in_2016", df["in_2016"].cast(IntegerType())) \
    .withColumn("in_2017", df["in_2017"].cast(IntegerType())) \
    .withColumn("in_2018", df["in_2018"].cast(IntegerType())) \
    .withColumn("in_2019", df["in_2019"].cast(IntegerType())) \
    .withColumn("in_2020", df["in_2020"].cast(IntegerType())) \
    .withColumn("out_2016", df["out_2016"].cast(IntegerType())) \
    .withColumn("out_2017", df["out_2017"].cast(IntegerType())) \
    .withColumn("out_2018", df["out_2018"].cast(IntegerType())) \
    .withColumn("out_2019", df["out_2019"].cast(IntegerType())) \

print(df.count())
df.show(50)

4035
+---------------+--------------------+--------------+--------------------+------------------+------+-------+-------+-------+-------+-------+--------+--------+--------+--------+--------+
|municipality_nr|  chrono_compartment|ed_code_actual|      ed_name_actual|           ed_form|gender|in_2016|in_2017|in_2018|in_2019|in_2020|out_2015|out_2016|out_2017|out_2018|out_2019|
+---------------+--------------------+--------------+--------------------+------------------+------+-------+-------+-------+-------+-------+--------+--------+--------+--------+--------+
|           0034|           onderwijs|         44103| M Educational Needs|deeltijd onderwijs|   man|      0|      4|      8|      7|      2|       0|       0|       0|       2|       5|
|           0034|            techniek|         30020|           B HBO-ICT| voltijd onderwijs|   man|    239|    281|    344|    427|    477|      23|      24|      25|      30|      40|
|           0080|  sectoroverstijgend|         49302|M Design Driven I...| voltijd onderwijs| vrouw|      0|      0|      0|      7|     17|       0|       0|       0|       0|       3|
|           0289|landbouw en natuu...|         44135|M Leren en Innoveren|deeltijd onderwijs| vrouw|     50|     53|     56|     61|     59|      17|       9|      17|      16|      14|
|           0307|     gezondheidszorg|         34538|B Management in d...| voltijd onderwijs| vrouw|    166|    144|    127|    133|    157|      22|      38|      37|      30|      24|
|           0344|gedrag en maatsch...|         34116|       B Social Work|deeltijd onderwijs| vrouw|     91|    121|    166|    173|    187|      19|      14|      19|      12|      15|
|           0599|            techniek|         30018|        B Automotive| voltijd onderwijs|   man|    283|    270|    298|    309|    304|      20|      31|      36|      41|      33|
|           0758|gedrag en maatsch...|         34116|       B Social Work| voltijd onderwijs|   man|    170|    158|    164|    154|    170|      17|      26|      22|      13|      19|
|           0772|     gezondheidszorg|         80131|Ad Zorg en Techno...|deeltijd onderwijs|   man|      0|      0|      1|      4|      5|       0|       0|       0|       0|       1|
|           0855|           onderwijs|         45267|M Leraar Geschied...|deeltijd onderwijs|   man|     60|     62|     53|     49|     51|      14|      12|      10|       6|      12|
|           0855|     taal en cultuur|         30014|B Circus and Perf...| voltijd onderwijs| vrouw|     39|     41|     46|     46|     42|       3|       8|       5|       7|      12|
|           0014|            techniek|         34280| B Werktuigbouwkunde| voltijd onderwijs| vrouw|     14|     12|     14|     25|     19|       2|       3|       1|       0|       5|
|           0114|            techniek|         34280| B Werktuigbouwkunde|   duaal onderwijs|   man|      0|      0|      0|     10|     13|       0|       0|       0|       0|       1|
|           0193|            economie|         34406|       B Accountancy|deeltijd onderwijs| vrouw|      5|      4|      0|      0|      0|       0|       2|       4|       0|       0|
|           0228|     gezondheidszorg|         34560|B Opleiding tot V...|   duaal onderwijs| vrouw|    162|    175|    185|    217|    224|      40|      42|      57|      29|      39|
|           0268|            techniek|         34396|            B Chemie|deeltijd onderwijs|   man|     20|     22|     23|     21|     20|       3|       0|       2|       0|       1|
|           0344|     taal en cultuur|         39110|B Autonome Beelde...| voltijd onderwijs|   man|     50|     43|     47|     55|     57|      18|       7|      11|       9|       9|
|           0363|            economie|         35520| B Finance & Control|deeltijd onderwijs|   man|    251|    225|    208|    206|    218|      32|      50|      34|      33|      12|
|           0363|           onderwijs|         35196|B Opleiding tot l...| voltijd onderwijs| vrouw|     57|     52|     52|     39|     39|       8|       9|      10|       8|      10|
|           0363|     taal en cultuur|         34860|           B Theater| voltijd onderwijs|   man|    105|    115|    101|    104|    106|      19|      21|      27|      20|      23|
|           0384|            economie|         35515|B Business Innova...| voltijd onderwijs|   man|    102|    132|    145|    150|    136|       0|       0|       7|       6|      12|
|           0518|            techniek|         34092|B Communication a...| voltijd onderwijs|   man|    435|    411|    419|    376|    371|      87|      58|      74|      70|      54|
|           0599|            economie|         34406|       B Accountancy| voltijd onderwijs|   man|    439|    439|    430|    406|    394|      39|      42|      46|      35|      41|
|           0599|            economie|         34406|       B Accountancy| voltijd onderwijs|   man|    439|    439|    430|    406|    394|       3|       2|       2|       0|       1|
|           0599|            economie|         34406|       B Accountancy| voltijd onderwijs|   man|     45|     45|     41|     51|     46|      39|      42|      46|      35|      41|
|           0599|            economie|         34406|       B Accountancy| voltijd onderwijs|   man|     45|     45|     41|     51|     46|       3|       2|       2|       0|       1|
|           0599|gedrag en maatsch...|         44113|        M Pedagogiek|deeltijd onderwijs| vrouw|     41|     47|     48|     42|     36|       8|       8|       9|      11|      16|
|           0599|           onderwijs|         35210|B Opleiding tot l...|deeltijd onderwijs| vrouw|      6|      3|      4|      4|      8|       0|       2|       1|       1|       0|
|           0599|           onderwijs|         35301|B Opleiding tot l...|deeltijd onderwijs| vrouw|     40|     39|     36|     34|     35|       1|       4|       5|       5|       5|
|           0718|            economie|         34402|B Commerciele Eco...| voltijd onderwijs|   man|    141|    132|    134|    125|    123|      30|      23|      21|      22|      21|
|           0758|            economie|         34405|      B Communicatie| voltijd onderwijs| vrouw|    255|    246|    260|    286|    300|      26|      67|      61|      42|      36|
|           0758|            economie|         35522|B Logistics Manag...| voltijd onderwijs| vrouw|    109|    103|    103|     99|     93|      14|      20|      20|      18|      26|
|           0796|            economie|         34406|       B Accountancy|deeltijd onderwijs| vrouw|     15|     17|     13|     10|      9|       1|       0|       0|       0|       0|
|           0855|     taal en cultuur|         34739|            B Muziek| voltijd onderwijs| vrouw|    140|    133|    131|    134|    127|      32|      36|      20|      37|      26|
|           1883|            economie|         34402|B Commerciele Eco...| voltijd onderwijs|   man|    524|    479|    435|    418|    452|      85|      86|      85|      73|      57|
|           0014|           onderwijs|         39112|     B Docent Muziek| voltijd onderwijs|   man|     28|     20|     19|     21|     21|       4|       5|       3|       4|       4|
|           0014|     taal en cultuur|         39111|        B Vormgeving| voltijd onderwijs|   man|     89|     90|    102|     72|     72|      16|      12|      20|      22|      20|
|           0080|            economie|         80010|Ad Ondernemerscha...| voltijd onderwijs|   man|     47|     39|     40|     29|     53|      15|       3|       8|       6|       6|
|           0080|landbouw en natuu...|         34868|B Tuinbouw en Akk...| voltijd onderwijs| vrouw|     11|     11|     12|     11|     11|       0|       1|       0|       3|       3|
|           0080|           onderwijs|         35261|B Opleiding tot l...| voltijd onderwijs| vrouw|     13|     13|     13|     11|      8|       0|       2|       0|       1|       2|
|           0080|     taal en cultuur|         30041|   B Popular Culture| voltijd onderwijs|   man|    164|    136|    139|    120|    131|      23|      27|      25|      28|      17|
|           0106|            techniek|         34267|   B Elektrotechniek| voltijd onderwijs| vrouw|     11|     10|      9|      7|      5|       2|       2|       2|       0|       2|
|           0153|     taal en cultuur|         39206|    B Muziektherapie| voltijd onderwijs|   man|      3|      6|      5|      7|     15|       2|       0|       1|       0|       1|
|           0193|           onderwijs|         35210|B Opleiding tot l...|deeltijd onderwijs| vrouw|      5|     11|     12|     17|     19|       4|       0|       1|       0|       1|
|           0275|landbouw en natuu...|         34226|B Land- en Waterm...|deeltijd onderwijs| vrouw|     11|     10|      4|      2|      4|       0|       1|       3|       2|       0|
|           0275|landbouw en natuu...|         34869|B Dier- en Veehou...| voltijd onderwijs|   man|     41|     30|     33|     33|     27|       1|       8|       2|       1|       7|
|           0275|landbouw en natuu...|         80068|Ad Tuin- en Lands...|deeltijd onderwijs| vrouw|      7|     13|     14|     25|     32|       3|       3|       0|       2|       1|
|           0344|            economie|         39268|B Integrale Veili...|deeltijd onderwijs| vrouw|     12|      8|     11|     15|     22|       1|       3|       1|       3|       1|
|           0363|            economie|         35516| B Creative Business|deeltijd onderwijs| vrouw|     59|     71|     81|    103|    135|       3|       4|       7|       8|       3|
|           0363|           onderwijs|         80142|Ad Pedagogisch Ed...| voltijd onderwijs| vrouw|      0|      0|     14|     31|     45|       0|       0|       0|       0|       3|
+---------------+--------------------+--------------+--------------------+------------------+------+-------+-------+-------+-------+-------+--------+--------+--------+--------+--------+
only showing top 50 rows

In [9]:
# Now that we have all individual record combined from both sheets, we can eliminate the difference in municipality_nr and gender
# We will look at all cases where chrono_compartment, ed_code_actual, ed_name and ed_form are equal, and sum the total of the in_* and out_* fields
df = df.groupBy([df.chrono_compartment,
                     df.ed_code_actual,
                     df.ed_name_actual]).sum().drop(df.ed_code_actual).drop(df.ed_form)
df.show()

+--------------------+--------------------+------------+------------+------------+------------+------------+-------------+-------------+-------------+-------------+
|  chrono_compartment|      ed_name_actual|sum(in_2016)|sum(in_2017)|sum(in_2018)|sum(in_2019)|sum(in_2020)|sum(out_2016)|sum(out_2017)|sum(out_2018)|sum(out_2019)|
+--------------------+--------------------+------------+------------+------------+------------+------------+-------------+-------------+-------------+-------------+
|     gezondheidszorg|B Oefentherapie C...|         247|         206|         213|         172|         168|           39|           55|           38|           26|
|           onderwijs|B Opleiding tot l...|          57|          58|          59|          71|          74|           12|           11|           11|           16|
|     gezondheidszorg|M Sport- en Bewee...|           0|           0|          51|          54|          57|            0|            0|           10|            9|
|     taal en cultuur|           M Theater|          16|          18|          19|          16|          15|            5|           10|           10|            7|
|     gezondheidszorg|Ad Management in ...|         224|         233|         302|         379|         435|          133|          119|          133|          205|
|            economie| B Kunst en Economie|         872|         786|         755|         716|         694|          147|          159|          117|          118|
|            techniek|  B Ocean Technology|         102|         105|          90|          93|          94|           14|           18|           13|           19|
|     taal en cultuur|M Master of Music...|           0|           9|          12|          16|          15|            0|            3|            6|           10|
|     taal en cultuur|B Interdisciplina...|          28|          31|          47|          58|          57|           12|            3|            5|           20|
|gedrag en maatsch...|      B Sociaal Werk|        1079|         990|         952|         934|        1079|          153|          173|          156|          147|
|            techniek|B Maritieme Techniek|         357|         370|         369|         391|         413|           40|           44|           47|           41|
|            economie|  B Hotel Management|        7635|        7948|        7960|        8118|        8314|         1345|         1500|         1458|         1523|
|            techniek|    M Serious Gaming|           0|           9|          24|          31|          41|            0|            0|            5|            7|
|            economie|M Tourism Destina...|           0|          35|          76|          59|          59|            0|            4|           49|           38|
|     gezondheidszorg|      B Huidtherapie|         773|         785|         833|         856|         866|          133|          135|          131|          178|
|            techniek|Ad Civiele Techni...|           3|           5|           1|           1|           0|            0|            3|            0|            0|
|            techniek|Ad Integraal Bouw...|          24|          72|          84|         113|         146|           17|           14|           22|           21|
|            techniek|B Ruimtelijke Ont...|        1047|        1099|        1238|        1381|        1584|          181|          161|          162|          136|
|            economie|B Tourism Management|        4822|        4789|        4569|        4450|        4334|          748|          806|          711|          746|
|            economie|B Small Business ...|          31|          15|           0|           0|           0|           11|           13|            0|            0|
+--------------------+--------------------+------------+------------+------------+------------+------------+-------------+-------------+-------------+-------------+
only showing top 20 rows

### a) Bereken de kans dat een student tot tweemaal toe uitvalt bij een technische studie in de periode 2015-2020

In [10]:
# All we need to do now is to calculate the total incoming and outgoing for each study in the period 2015-2020
# We will create 2 extra columns called in_total and out_total
# Because we have no data for 2020 outgoing, we can only rely on the years where there are both incoming and outdoing students.
# Hence we will drop the year 2020 to get a more accurate estimate of the change
df_sum = df
df_sum = df_sum.withColumn("in_total", sum([df_sum["sum(in_2016)"], df_sum["sum(in_2017)"], df_sum["sum(in_2018)"], df_sum["sum(in_2019)"]]))
df_sum = df_sum.withColumn("out_total", sum([df_sum["sum(out_2016)"], df_sum["sum(out_2017)"], df_sum["sum(out_2018)"], df_sum["sum(out_2019)"]]))
df_sum = df_sum.drop("sum(in_2016)").drop("sum(in_2017)").drop("sum(in_2018)").drop("sum(in_2019)").drop("sum(in_2020)").drop("sum(out_2016)").drop("sum(out_2017)").drop("sum(out_2018)").drop("sum(out_2019)")

df_sum.show()

+--------------------+--------------------+--------+---------+
|  chrono_compartment|      ed_name_actual|in_total|out_total|
+--------------------+--------------------+--------+---------+
|     gezondheidszorg|B Oefentherapie C...|     838|      158|
|           onderwijs|B Opleiding tot l...|     245|       50|
|     gezondheidszorg|M Sport- en Bewee...|     105|       19|
|     taal en cultuur|           M Theater|      69|       32|
|     gezondheidszorg|Ad Management in ...|    1138|      590|
|            economie| B Kunst en Economie|    3129|      541|
|            techniek|  B Ocean Technology|     390|       64|
|     taal en cultuur|M Master of Music...|      37|       19|
|     taal en cultuur|B Interdisciplina...|     164|       40|
|gedrag en maatsch...|      B Sociaal Werk|    3955|      629|
|            techniek|B Maritieme Techniek|    1487|      172|
|            economie|  B Hotel Management|   31661|     5826|
|            techniek|    M Serious Gaming|      64|       12|
|            economie|M Tourism Destina...|     170|       91|
|     gezondheidszorg|      B Huidtherapie|    3247|      577|
|            techniek|Ad Civiele Techni...|      10|        3|
|            techniek|Ad Integraal Bouw...|     293|       74|
|            techniek|B Ruimtelijke Ont...|    4765|      640|
|            economie|B Tourism Management|   18630|     3011|
|            economie|B Small Business ...|      46|       24|
+--------------------+--------------------+--------+---------+
only showing top 20 rows

In [11]:
# Now for each row we need to calculate how many students were lost in the time period
# This is not a super accurate measurement since it takes most students more than 4 years to graduate
# But because this is the information we have, we will make it work

df_sum = df_sum.withColumn("dropout", df_sum["in_total"] - df_sum["out_total"])
df_sum = df_sum.withColumn("dropout_ratio", (df_sum["dropout"] / df_sum["in_total"]) * 100)
df_sum.show()

+--------------------+--------------------+--------+---------+-------+------------------+
|  chrono_compartment|      ed_name_actual|in_total|out_total|dropout|     dropout_ratio|
+--------------------+--------------------+--------+---------+-------+------------------+
|     gezondheidszorg|B Oefentherapie C...|     838|      158|    680| 81.14558472553699|
|           onderwijs|B Opleiding tot l...|     245|       50|    195| 79.59183673469387|
|     gezondheidszorg|M Sport- en Bewee...|     105|       19|     86|  81.9047619047619|
|     taal en cultuur|           M Theater|      69|       32|     37| 53.62318840579711|
|     gezondheidszorg|Ad Management in ...|    1138|      590|    548|48.154657293497365|
|            economie| B Kunst en Economie|    3129|      541|   2588|  82.7101310322787|
|            techniek|  B Ocean Technology|     390|       64|    326| 83.58974358974359|
|     taal en cultuur|M Master of Music...|      37|       19|     18| 48.64864864864865|
|     taal en cultuur|B Interdisciplina...|     164|       40|    124| 75.60975609756098|
|gedrag en maatsch...|      B Sociaal Werk|    3955|      629|   3326|  84.0960809102402|
|            techniek|B Maritieme Techniek|    1487|      172|   1315| 88.43308675184936|
|            economie|  B Hotel Management|   31661|     5826|  25835| 81.59881241906446|
|            techniek|    M Serious Gaming|      64|       12|     52|             81.25|
|            economie|M Tourism Destina...|     170|       91|     79|46.470588235294116|
|     gezondheidszorg|      B Huidtherapie|    3247|      577|   2670| 82.22975053895904|
|            techniek|Ad Civiele Techni...|      10|        3|      7|              70.0|
|            techniek|Ad Integraal Bouw...|     293|       74|    219| 74.74402730375427|
|            techniek|B Ruimtelijke Ont...|    4765|      640|   4125| 86.56873032528857|
|            economie|B Tourism Management|   18630|     3011|  15619| 83.83789586688137|
|            economie|B Small Business ...|      46|       24|     22| 47.82608695652174|
+--------------------+--------------------+--------+---------+-------+------------------+
only showing top 20 rows

In [12]:
# Now we need to get the total number of dropouts for technical studies and the total number of intake across the board
# We calculate the likelyhood of bering a dropout of a technical study with the folowing formula:
# p = (dropout_technical / sum(in_total))
# Then to calculate the chance that a student is a technical dropout twice by doing
# p_dropout_twice = p ** 2

dropout_technical = df_sum.filter(df_sum.chrono_compartment == "techniek").agg(F.sum("dropout")).collect()[0][0]
print(f"Dropout Technical: {dropout_technical}")
in_total = df_sum.agg(F.sum("in_total")).collect()[0][0]
print(f"Total intake: {in_total}")
p = (dropout_technical / in_total)
print(f"Propability of being a technical dropout: {p}")
p_dropout_twice = p ** 2
print(f"Propability of being a technical dropout twice: {p_dropout_twice}")

Dropout Technical: 322902
Total intake: 1982797
Propability of being a technical dropout: 0.16285176949531394
Propability of being a technical dropout twice: 0.026520698827754863

### b) Bereken een belief distribution voor de kans dat een student zowel geslaagde als uitvaller is

In [13]:
# We do this my calculating the chance that a student has graduated
# Then we calculate the chance that a student is a dropout
# Then we multiply the chance of graduation with the chance of being a dropout

total_dropout = df_sum.agg(F.sum("dropout")).collect()[0][0]
print(f"Total dropouts: {total_dropout}")
p_dropout = total_dropout / in_total
print(f"P of being a dropout: {p_dropout}")
total_graduated = df_sum.agg(F.sum("out_total")).collect()[0][0]
print(f"Total graduates: {total_graduated}")
p_graduated = total_graduated / in_total
print(f"P of being graduated: {p_graduated}")
p = p_graduated * p_dropout
print(f"P of being both graduated and a dropout: {p}")

Total dropouts: 1656918
P of being a dropout: 0.8356468160885859
Total graduates: 325879
P of being graduated: 0.16435318391141404
P of being both graduated and a dropout: 0.13734121484959494

### c) Bereken de kans dat een student van Business Studies daarna inschrijft voor een opleiding in het sociale domein, binnen 2 jaar na

In [14]:
df = df.withColumnRenamed("sum(in_2016)", "in_2016") \
        .withColumnRenamed("sum(in_2017)", "in_2017") \
        .withColumnRenamed("sum(in_2018)", "in_2018") \
        .withColumnRenamed("sum(in_2019)", "in_2019") \
        .withColumnRenamed("sum(in_2020)", "in_2020") \
        .withColumnRenamed("sum(out_2016)", "out_2016") \
        .withColumnRenamed("sum(out_2017)", "out_2017") \
        .withColumnRenamed("sum(out_2018)", "out_2018") \
        .withColumnRenamed("sum(out_2019)", "out_2019")

In [15]:
# With the original df we will look at the chance that a graduate from business studies enrolls for a social study within 2 years of graduation
# We need to know how many "B Business Studies" graduates there are for each year
# Then we need to calculate what the total number of intake is for the social studies ("gedrag en maatschappij") for the next year and the year after that
# Then we calculate the chance that the business studies graduate enrolls in the total intake of the next 2 years
# We repeat this process for the business studies graduates years 2016, 2017 and 2018
# This way we still know what the chance is that the student enrolls in either 2019 or 2020

bs_grads = df.filter(df["ed_name_actual"] == "B Business Studies")

bs_grad_2016 = bs_grads.agg(F.sum("out_2016")).collect()[0][0]
print(f"Total business studies graduates in 2016: {bs_grad_2016}")
bs_grad_2017 = bs_grads.agg(F.sum("out_2017")).collect()[0][0]
print(f"Total business studies graduates in 2017: {bs_grad_2017}")
bs_grad_2018 = bs_grads.agg(F.sum("out_2018")).collect()[0][0]
print(f"Total business studies graduates in 2018: {bs_grad_2018}")

in_social = df.filter(df["chrono_compartment"] == "gedrag en maatschappij")

in_social_2017 = in_social.agg(F.sum("in_2017")).collect()[0][0]
print(f"Total social intake 2017: {in_social_2017}")
in_social_2018 = in_social.agg(F.sum("in_2018")).collect()[0][0]
print(f"Total social intake 2018: {in_social_2018}")
in_social_2019 = in_social.agg(F.sum("in_2019")).collect()[0][0]
print(f"Total social intake 2019: {in_social_2019}")
in_social_2020 = in_social.agg(F.sum("in_2020")).collect()[0][0]
print(f"Total social intake 2020: {in_social_2020}")

Total business studies graduates in 2016: 536
Total business studies graduates in 2017: 904
Total business studies graduates in 2018: 416
Total social intake 2017: 67564
Total social intake 2018: 65019
Total social intake 2019: 64794
Total social intake 2020: 67976

In [16]:
# The dataset contains no data on what happends with graduates after they graduate
# This means that we simply cannot know which graduated students enrolled again in the social domain
# We can however, calculate the chance that any given graduate is also enrolled in a social study in the next year and the year after that

p_reenrolled_2016_2018 = bs_grad_2016 / (in_social_2017 + in_social_2018)
p_reenrolled_2017_2019 = bs_grad_2017 / (in_social_2018 + in_social_2019)
p_reenrolled_2018_2020 = bs_grad_2018 / (in_social_2019 + in_social_2020)
print(f"P re-enrollment in 2016 - 2018: {p_reenrolled_2016_2018}")
print(f"P re-enrollment in 2017 - 2019: {p_reenrolled_2017_2019}")
print(f"P re-enrollment in 2018 - 2020: {p_reenrolled_2018_2020}")

P re-enrollment in 2016 - 2018: 0.004042750578882662
P re-enrollment in 2017 - 2019: 0.006963863403511204
P re-enrollment in 2018 - 2020: 0.0031332379302553286

In [17]:
# Lastly we can calculate the average change over the entire period
p_total = p_reenrolled_2016_2018 + p_reenrolled_2017_2019 + p_reenrolled_2018_2020
print(f"Sum P of re-enrollment in period: {p_total}")
p_avg = p_total / 3
print(f"Avg P of re-enrollment in period: {p_avg}")

Sum P of re-enrollment in period: 0.014139851912649194
Avg P of re-enrollment in period: 0.0047132839708830645

This means that the total chance of a given graduate from business studies being re-enrolled in social studies over the entire time period is
0.014139851912649194

The average propability of all the time periods is 0.0047132839708830645

In [18]:
spark.stop()